@font-face {
    font-family: "Arial";
    src:
      local('Arial');  
    }


* {
    transition: all 0.2s;
    -webkit-app-region: no-drag;
    scrollbar-color: rgb(200,200,200) transparent;

}

#main {
    overflow-x: hidden;
}

html {
    scrollbar-color: rgb(200,200,200) transparent;
    overflow-x: hidden;
    overflow-y: auto;
    color-scheme: dark;
    height: 100vh;
}

.chatBubbleMessage textarea {
    border: 2px solid white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    resize: none;
    font-size: 1rem;
    width: 100%;
    height: auto;
    background-color: rgb(85,85,85);
    padding: 0.5rem;
}



.chatEdit {
    margin-left: 95%;
    opacity: 0;
    font-size: 1.2rem;
    background-color: transparent;
    border: 0;
}

.chatBubble:hover .chatEdit {
    opacity: 0.5;
}

.chatBubble button.chatEdit:hover {
    opacity: 1;
    
}

.btnInChat {
    transition: all ease-in-out 0.2s;
    background-color:rgb(100,100,100);
    border-color:rgb(150,150,150);
    border-style:solid;
    border-width:1px;
    border-radius:8px;
    width:200px;
    height:50px;
    font-size:16;
    color:white;
    margin-left:2%;
    margin-bottom:0.5%;
}

.btnInChat:hover {
    box-shadow: 0px 0px 18px 5px rgba(178, 178, 178, 0.27);
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgb(32,32,32);
    color: #fff;
    scrollbar-color: rgb(200,200,200) transparent;
    overflow-y: hidden;
    overflow-x: hidden;
    resize: none;
}

a.openLogo {
    display: block;
    width: 337px;
    height: 337px;
    background-size: cover;
    background-image: url("./AKETA SPACE GOLD.webp");
    background-repeat: no-repeat;
    overflow: hidden;
    mask: url("./shine.webp") no-repeat;
    mask-position: 0 0;
    mask-size: cover;
    animation: loadingKeyframes 0.7s linear infinite ;
    -webkit-animation: loadingKeyframes 0.7s linear infinite ;
    z-index: 300;
}

a.openlogoBackground {
    display: block;
    width: 337px;
    height: 337px;
    background-size: cover;
    background-image: url("./AKETA SPACE-Fixed.webp");
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 200;
}


@keyframes loadingKeyframes {
    from {
        mask-position: 200% 200%;
    }
    to {
        mask-position: -100% -100%;
    }
}


    @font-face {
        font-family: "Arial";
        src:
          local('Arial');  
        }
    
    * {
        -webkit-app-region: no-drag;
        scrollbar-color: rgb(200,200,200) transparent;
    }


    *::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
    *::-webkit-scrollbar-thumb:hover {
        background-color: rgb(220,220,220);
        box-shadow: 0px 0px 18px 5px rgba(178, 178, 178, 0.27);
    }
    
    *::-webkit-scrollbar-thumb:active {
        background-color: rgb(242,242,242);
        box-shadow: 0px 0px 18px 5px rgba(178, 178, 178, 0.27);
    }

    *::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        background-color: rgb(180,180,180);
        height: 50%;
    }
      
      *::-webkit-scrollbar-track {
        /*滚动条里面轨道*/
        border-radius: 10px;
        background-color: rgb(100,100,100);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}

    body {
        margin: 0;
        padding: 0;
        font-family: 'Arial', sans-serif;
        background-color: rgb(32,32,32);
        color: #fff;
        scrollbar-color: rgb(200,200,200) rgba(0,0,0,0);
        overflow-y: auto;
    }
    