:root {
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low:
      0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.12),
      0.8px 0.8px 1.2px -1.4px hsl(var(--shadow-color) / 0.11),
      2px 2px 3.1px -2.7px hsl(var(--shadow-color) / 0.1);
    --shadow-elevation-medium:
      0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.13),
      1.6px 1.6px 2.5px -0.9px hsl(var(--shadow-color) / 0.12),
      4px 4px 6.2px -1.8px hsl(var(--shadow-color) / 0.11),
      10px 10px 15.4px -2.7px hsl(var(--shadow-color) / 0.11);
    --shadow-elevation-high:
      0.5px 0.5px 0.8px hsl(var(--shadow-color) / 0.13),
      3.1px 3.1px 4.8px -0.5px hsl(var(--shadow-color) / 0.13),
      6.2px 6.2px 9.5px -0.9px hsl(var(--shadow-color) / 0.13),
      11.1px 11.2px 17.1px -1.4px hsl(var(--shadow-color) / 0.12),
      19.3px 19.4px 29.8px -1.8px hsl(var(--shadow-color) / 0.12),
      32.2px 32.4px 49.7px -2.3px hsl(var(--shadow-color) / 0.12),
      51.2px 51.5px 79px -2.7px hsl(var(--shadow-color) / 0.11);
  }

@font-face {
    font-family: "Arial";
    src:
      local('Arial');  
    }


* {
    transition: all 0.2s;
    -webkit-app-region: drag;
    scrollbar-color: rgb(200,200,200) transparent;

}

button {
    -webkit-app-region: no-drag;
}



progress {
    -webkit-app-region: no-drag;
}

h1,h2,h3,h4,h5,h6,p,a,span {
    -webkit-app-region: no-drag;
}

.mainTitle {
    position: fixed;
    width: 100vw;
    text-align: center;
    top:35%;
    left: 0;
    mix-blend-mode:difference;
    font-size: 3rem;
}

.subTitle {
    position: fixed;
    width: 100vw;
    text-align: center;
    top:42%;
    left: 0;
    font-size: 1.5rem;
    line-height: 1.7;
    color: white;
}

html {
    scrollbar-color: rgb(200,200,200) transparent;
    overflow-x: hidden;
    overflow-y: auto;
    color-scheme: dark;
    height: 100vh;
}



body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: rgb(32,32,32) url('background.webp');
    background-size: cover;
    color: #fff;
    scrollbar-color: rgb(200,200,200) transparent;
    overflow-y: hidden;
    overflow-x: hidden;
    resize: none;
}




    *::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}
    *::-webkit-scrollbar-thumb:hover {
        background-color: rgb(220,220,220);
        box-shadow: var(--shadow-elevation-medium);
    }
    
    *::-webkit-scrollbar-thumb:active {
        background-color: rgb(242,242,242);
        box-shadow: var(--shadow-elevation-medium);
    }

    *::-webkit-scrollbar-thumb {
        /*滚动条里面小方块*/
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        background-color: rgb(180,180,180);
        height: 50%;
    }
      
      *::-webkit-scrollbar-track {
        /*滚动条里面轨道*/
        border-radius: 10px;
        background-color: rgb(100,100,100);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}

    body {
        margin: 0;
        padding: 0;
        font-family: 'Arial', sans-serif;
        background-color: rgb(32,32,32);
        color: #fff;
        scrollbar-color: rgb(200,200,200) rgba(0,0,0,0);
        overflow-y: auto;
    }
    

    .headerTitle {
        position: fixed;
        top:0;
        width: 100%;
        height: 7%;
        text-align: center;
        font-size: 24;
        padding-bottom: 0%;
        margin-top: 0%;
        background-color: rgb(70,70,70);
        z-index: 114514191981000;
        border-bottom: 1px solid rgb(27,27,27);
    }
    
    .headerTitle p {
        width: 100%;
        text-align: center;
        font-size: 24;
        padding-bottom: 0%;
        margin-top: 2%;
    }
    
    .headerTitle button {
        position: absolute;
        left:1%;
        top:2%
    }

    
    .more-container {
        right: 0.4rem;
        top:0.125rem;
        position: fixed;
        width: 1.75rem;
        height: 1.75rem;
        z-index: 30;
        
    }
    
    .more-button {
        background-color: transparent;
        border: 0;
        border-radius: 3px;
        text-align: center;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        padding-left: 0.2rem;
        border-left: rgb(150,150,150) solid 2px;
}
    .more-icon {
        font-size: 1.75rem !important;
        color: black ;
        z-index: 1000;
        position:relative;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
    
    .more-button:hover {
        background-color: #555;
        box-shadow: var(--shadow-elevation-medium);
    }
    

    .copy-button:hover {
        outline: #fff solid 2px;
        border-radius: 3px;
    }
    
    pre {
        margin: 0;
    }
    
    h3 {
        font-size: 14;
        margin: 4px 0 4px 0;
    }
    
    h2 {
        font-size: 18;
        margin: 4px 0 4px 0;
    }
    
    h1 {
        font-size: 20;
        margin: 4px 0 4px 0;
    }
    
    
    .HeaderTime {
        text-align: center;
        padding: 0.5rem 0;
        font-size: 0.9rem;
        width: 1.5rem;
        background-color: #ddd;
        color: #363636;
        white-space: pre;
        user-select: none;
        pointer-events: all;
        display: block;
        width: 100%;
        position: fixed;
        top:0;
        left:0;
        margin: 0;
        height: 2vh ;
        -webkit-app-region: drag;
        border-bottom: 1px solid rgb(27,27,27);
    }
    

.coloredText {
    background: linear-gradient(315deg,#42d392 25%,#647eff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    mix-blend-mode: normal;
}

.bottomProgess {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 5vh;
}


.bottomProgess progress {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    margin: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    height: 16;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.bottomProgess progress::-webkit-progress-value {
    background: linear-gradient(315deg,#42d392 25%,#647eff);
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.fullScreen {
    background: rgb(32,32,32) url('background.webp');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000000000000000;
}

.fullScreen button {
    background: rgb(229, 229, 229);
    border-radius: 10px;
    border: 2px solid linear-gradient(315deg,#42d392 25%,#647eff);;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: absolute;
    width: 22%;
    height: 60px;
    left: 39%;
    top: 50%;
    box-shadow: var(--shadow-elevation-high);
}

.fullScreen button:hover {
    box-shadow: var(--shadow-elevation-medium);
}


.fullScreen button:hover span {
    color: rgb(56, 56, 56);
}

.fullScreen button:active span {
    color: rgb(193, 193, 193);
}


.fullScreen button span {
    font-size: 2rem;
    color: gray;
}

.progess {
    text-align: right;
    width: 99.5%;
    display: block;
}